* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/fond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navEmogi {
    width: 30px;
    height: 30px;
}

#nav {
    text-align: center;
}

.navTexte {
    color: white;
    font-family: 'Norican', cursive;
    display: inline-block;
    font-size: 27px;
    margin: 60px;
}

#rentreeFitness {
    font-family: 'Coda Caption', sans-serif;
    color: white;
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.192);
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    /* opacity: .2; */
}

#sportsFactoryTitle {
    font-family: 'Coda Caption', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 7%;
    color: rgb(228, 168, 16);
    text-shadow: 5px 8px 50px 6px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sportsFactoryTitle span:nth-child(2) {
    transform: translateY(-50%);
    color: white;
    font-size: 70px;
    font-family: 'Norican', cursive;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#sallesDeSport {
    color: white;
    font-size: 80px;
    text-align: center;
    transform: translateY(1rem);
    font-family: 'Norican', cursive;
}



#allSportStation {
    width: 100%;
    background-color: rgb(34, 137, 255);
}

#toutesSallesSportTitre {
    font-family: 'Coda Caption', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(228, 168, 16);
    text-shadow: 5px 8px 50px 6px #000000;
    transform: translateY(1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#toutesSallesSportTitre span:nth-child(2) {
    transform: translateY(-50%);
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Norican', cursive;
}

#maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
}

#lyon6 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

#salleLyon6 {
    font-family: 'Coda Caption', sans-serif;
    font-size: 50px;
    color: rgb(228, 168, 16);
    text-shadow: 5px 8px 50px 6px #000000;
    transform: translateY(1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#salleLyon6 span:nth-child(2) {
    transform: translateY(-50%);
    color: white;
    font-size: 60px;
    font-family: 'Norican', cursive;
}

#imgSport1 {
    width: 410px;
    height: 260px;
    float: left;
    margin-right: 20px;
}

#texteSport1 {
    color: white;
    font-size: 17px;
    line-height: 30px;
    font-family: 'PT Sans', sans-serif;
}

hr {
    width: 90%;
    margin: 5%;
    align-items: center;
    display: flex;
}

#lyon5 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

#salleLyon5 {
    font-family: 'Coda Caption', sans-serif;
    font-size: 50px;
    color: rgb(228, 168, 16);
    text-shadow: 5px 8px 50px 6px #000000;
    transform: translateY(1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#salleLyon5 span:nth-child(2) {
    transform: translateY(-50%);
    color: white;
    font-size: 60px;
    font-family: 'Norican', cursive;
}

#imgSport2 {
    width: 410px;
    height: 260px;
    float: right;
    margin-left: 20px;
}

#texteSport2 {
    color: white;
    font-size: 17px;
    line-height: 30px;
    font-family: 'PT Sans', sans-serif;
}

#lyon2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

#salleLyon2 {
    font-family: 'Coda Caption', sans-serif;
    font-size: 50px;
    color: rgb(228, 168, 16);
    text-shadow: 5px 8px 50px 6px #000000;
    transform: translateY(1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#salleLyon2 span:nth-child(2) {
    transform: translateY(-50%);
    color: white;
    font-size: 60px;
    font-family: 'Norican', cursive;
}

#imgSport3 {
    width: 410px;
    height: 260px;
    float: left;
    margin-right: 20px;
}

#texteSport3 {
    color: white;
    font-size: 17px;
    line-height: 30px;
    font-family: 'PT Sans', sans-serif;
}

#temoignages {
    width: 100%;
    background: linear-gradient(rgb(34, 137, 255), rgb(28, 26, 44));
}

#temoignagesTitle {
    font-family: 'Coda Caption', sans-serif;
    font-size: 50px;
    color: rgb(228, 168, 16);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#allArticles{
    display: flex;
}

#anita {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

#anitaTitle {
    font-family: 'Norican', cursive;
    color: white;
    font-size: 38px;
    text-align: center;
}

#anitaImg {
    width: 210px;
    height: 210px;
}

#anitaTexte {
    text-align: center;
    line-height: 35px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

#marco {
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-left: 50px;
}

#marcoTitle {
    font-family: 'Norican', cursive;
    color: white;
    font-size: 38px;
    text-align: center;
}

#marcoImg {
    width: 210px;
    height: 210px;
}

#marcoTexte {
    text-align: center;
    line-height: 35px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

#celine {
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-left: 50px;
}

#celineTitle {
    font-family: 'Norican', cursive;
    color: white;
    font-size: 38px;
    text-align: center;
}

#celineImg {
    width: 210px;
    height: 210px;
}

#celineTexte {
    text-align: center;
    line-height: 35px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

footer{
    background-color: white;
    width: 100%;
    height: 130px;
    align-items: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

#edenSchoolLogo{
    width: 100px;
    height: 50px;
}